
$bsize:cover;
$brepet:no-repeat;
$col:#ffffff;
$dec:none;
//petqa tal
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   margin: 0;
   padding: 0;
   font-family: 'Open Sans',sans-serif !important; 


        header{
       background-image:linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),  url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/d3fd2c2207695fa1a9d1d2c1/-min.jpg);
        height: 800px;
        font-family: 'Playfair Display', serif !important;
        background-size: $bsize;
        background-repeat: $brepet;
        background-position: 50% 50%;
        .menu-div {
         nav {
            width: 100%;
            background-color: rgba(0,0,0,0.2);
            padding: 10px;
            ul{
               list-style: none;
               display: flex;
               justify-content: space-around;
               li{
                  display: inline-block;
                  a{
                     text-decoration: none;
                  }
               }
            }
         }
        }
        .header-div{
         width: 50%;
         padding-top: 150px;
        }

        h3 {
         font-size:8rem;
         line-height:1 ;
         font-weight:500;
         color: $col;
       //   padding: 150px;
         }
         
      p,a { 
         font-size: 1rem;
         line-height: 1.6;
         color: $col;
          pointer-events: initial;
          font-family: 'Open Sans',sans-serif;
          // padding: -150px;
          }
      
      }//header

  

// sec-1
.sec1{
      height: 600px; 
      
      .mainDiv1 {
         display: flex;
         justify-content: end;
         .sec1-div1 {
            padding-top: 25px;
            width: 30%;

            h4{
               letter-spacing: 8px;
               text-transform:uppercase;
               font-family: 'Open Sans',sans-serif !important;
               font-weight:  700px;
               font-size: 1.5rem;
               text-align: right;
               padding-right: 170px;    
            }
              
         p, a{
         text-align: right; 
            color: black;
            padding-right: 150px;    

         }
         a{
            padding-right: 20px;
         }
         }
      }
   
      .mainDiv2 {
         display: flex;
        justify-content: space-evenly;
         padding-top: 100px;
         .sec1-div2 {
            display: flex;
            justify-content: space-around;
            width: 80%;
            .d1-klor{
               
                  background-color: #cae6d6;
                  width: 147px;
                  height: 147px;
                  border-radius: 50%;
                 
               
            }
            .d2{
               background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/7eb2ce19149a54c5a359d7d6/drt.jpg?version=);
               background-size: $bsize;
               background-repeat: $brepet;
               height: 450px;
               width: 450px;
               border-radius: 50%;
            }
             .d3{
               h1{
                  font-weight: 900;
                  font-size: 5.5rem;
                  line-height: 1.1;
               
              }
             }
       
           
         }
         
      }
   }

//   sec-2
   .sec2{
      height: 500px;
      // padding-top: 50px;
      
      .mainDiv3{
         display: flex;
         justify-content: center;
         padding: 100px;
         padding-left: 0;
         
         
            .sec2-div1{
               width:20%;
               padding-right: 25px;
           
               span{
                  font-weight: 700;
                  font-size: 3.5rem;
                  color: black;
                  font-family: 'Playfair Display', serif !important; 
                  
               }
               h2{
                  font-size: 3rem;
                  font-weight: 400;
                  color: inherit;  
                  margin: 0;

                 
               }
               p{
                  font-family: 'Open Sans',sans-serif;
                  font-size: 1rem;
                  line-height: 1.6;
                  padding-top: 35px;
                 
                  
               }
            }

            .sec2-div2{
               width:20%;
              padding-left: 20px;
               padding-top: 150px;
                      
                   p{
                  // padding-left: 50px;
                  width: 300px;
                  font-size: 1rem;
                  line-height: 1.6;
                  font-family: 'Open Sans',sans-serif;

                  }
                  a{
               //  padding-top: 50px;
                  color:black;
                  
                 
   
                  }
  
            }
            .sec2-div3{
               width: 300px;
              
               .klor{
                  background-color: #cae6d6;
                  width: 147px;
                  height: 147px;
                  border-radius: 50%;
                 
                     
                  }
            }
      }
   
       
       
         
            
      
  //mainDiv
      //klor
      }//sec2
         // sec3
         .sec3{
            height: 600px;
            
      .maindiv{
      display: flex;
      justify-content: center;

      .s3-d1{
          background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/9a77d5df1a00528999aaece1/valley-track-with-view-mount-cook-new-zealand_181624-14402.jpg?version=);
          background-size: $bsize;
          background-repeat: $brepet;
          width: 360px;
          height: 360px; 
          padding-left: 15px;
          cursor: pointer;
          margin: 10px;
         }
        .s3-d2{
         background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/04c1f4988d0957b48db286c7/pexels-photo-2909067.jpeg);
         background-size: $bsize;
         background-repeat: $brepet;
         width: 360px;
         height: 360px;
         cursor: pointer;
         margin:10px;
        }
        .s3-d3{
         background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/a684e4e4371c53b2ad499bc5/-min.jpg?version=);
         background-size: $bsize;
         background-repeat: $brepet;
         width: 360px;
         height: 360px;
         cursor: pointer;
         margin: 10px;
         }
          }//maindiv
          
                  }//sec3            

      // sec4
     
         .sec4{ 
            background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/bedbe931a3b25d538d3fc50a/-min.jpg); 
            height: 600px; 
            background-size: $bsize;
            background-repeat: $brepet;
            
         
         
          .maindiv1{ 
            color: white; 
            height: 600px; 
            width: 400px; 
            background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)); 
            position: relative;  
            left: 500px; 
            text-align: right;
         

           h5{ 
            padding-top: 15px;
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: 6px;
            font-weight: 400;
            line-height: 1.2;
            font-family: 'Playfair Display',serif !important;
            color: inherit;
             } 

           h2{ 
            font-size: 4.5rem; 
            margin: 0;
            font-weight: 400;
            line-height: 1.1;
            pointer-events: initial;
            color: inherit;
            font-family: 'Playfair Display',serif !important; 
           } 
           
         } //maindiv1
         
           .maindiv2{ 
            background-color: white; 
            height: 630px; 
            width: 330px; 
            
         
           
           .maindiv3{ 
            background-color: white; 
            position: relative;
             top: -600px;
             left: 900px;
            height: 600px; 
            font-style: italic; 
         
            p{
               font-style: italic;
               font-size: 1rem;
               line-height: 1.6;
               text-align: start;
               position: relative;
               top: 370px;
            
            }
        
           .p1 a{ 

            color: #000; 
            font-size: 1rem;
            line-height: 1.6;
          } 
          .dimg{
            display: flex;
            .d1-img p{
               font-size: 20px;
               color: #000;
               margin: 10px;
            }
          }
           
         } //maindiv3
         }//maindiv2

        
         
      }//sec4

// sec5
         .sec5 {
            height: 1300px;
            .container-1 {
                height: 300px;
                .row-1 {
                    display: flex;
                    justify-content: center;
                    @mixin klor {
                        height: 250px;
                        width: 250px;
                        background-color: #cae6d6;
                        border-radius: 50%;
                    }
                    .d-1 {
                        @include klor;
                    }
                    .d-2 {
                        width: 500px;
                        position: relative;
                        left: -106px;
                        top: 50px;
                        color: #000;
                    }
                    .p1 {
                        font-size: 3rem;
                        margin: 0;
                    }
                }
            }
            .row-2 {
                display: flex;
                justify-content: center;
                .div1 {
                    width: 325px;
                }
                .div2 {
                    width: 325px;
                    img {
                        height: 290px;
                    }
                }
                .div3 {
                    width: 325px;
                }
                img {
                    width: 320px;
                }
            }
        }
      //   sec6
        .sec6 {
            height: 700px;
            background-image: url(https://images03.nicepage.com/a1389d7bc73adea1e1c1fb7e/73e1ae5353685918bf1176bd/pexelsphoto3334048.jpeg);
            background-size: $bsize;
            background-repeat: $brepet;
            .d-1 {
                margin-left: 60%;
                padding-top: 10%;
                width: 650px;
                p {
                    font-size: 130px;
                    color: white;
                }
            }
        }
      //   sec7
        .sec7 {
            height: 500px;
            .container {
                padding: 100px;
                display: flex;
                justify-content: space-around;
                .d-1 {
                    width: 350px;
                    font-family: sans-serif;
                    .d-1-1 {
                        color: #111111;
                        .p-1 {
                            font-size: 20px;
                        }
                        .p-2 {
                            font-size: 40px;
                            font-family: serif;
                        }
                        .p-3 {
                            font-size: 20px;
                        }
                    }
                    a {
                        font-size: 18px;
                        border-bottom: 1px solid black;
                        color: #111111;
                        text-decoration: none;
                        transition: 0.2s;
                        &:hover {
                            color: #cae6d6;
                        }
                    }
                    .d12{
                        height: 100px;
                        width: 100px;
                        background-color: #cae6d6;
                        border-radius: 50%;
                        display: inline-block;
                    }
                }
                .d-2 {
                    margin: 50px;
                 
                        i {
                            margin: 15px;
                            font-size: 25px;
                            cursor: pointer;
                        }
                    
                }
                .d-3 {
                    font-family: sans-serif;
                    .d-3-1 {
                        background-image: url(https://images03.nicepage.com/c461c07a441a5d220e8feb1a/5d9de2b71b915bf48e292f43/rtrtt-min.jpg);
                        background-size: $bsize;
                        background-repeat: $brepet;
                        height: 300px;
                        width: 300px;
                        border-radius: 50%;
                    }
                    .d-3-2 {
                        display: flex;
                        justify-content: end;
                       padding-right: 80px;
                        padding-top:20px ;

 
                    }
                }
               }
         
            }
            footer{
               height: 200px;
               color: #ffffff;
                background-color: #333333;
                // text-align: center;
                
           
          
               .d-7{
                .divlogo{
                    height: 120px;
                    width: 120px;
                    
                    
                }

                     display: flex;
                    color: #070e0b;
                    padding-top: 50px;
                       a{
                        text-decoration: none !important;
                        margin: 5px;
                        // text-align: end;
                        padding-left:110px ;
                        padding-top: 25px;
                        color: #ffffff;
 }
                       
                     }
                  
                  }
                }
            
       








